<div class="bookchin-quote">
    <blockquote>
        &ldquo;The assumption that what currently exists must necessarily exist is the acid that corrodes all visionary thinking.&rdquo;
        <cite>&mdash; Murray Bookchin</cite>
    </blockquote>
</div>
